<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_AlphaIncrement>
             <version>0.1.0</version>
        </Philwinkle_AlphaIncrement>
    </modules>
    <global>
        <models>
            <alphaincrement>
                <class>Philwinkle_AlphaIncrement_Model</class>
            </alphaincrement>
            <sales_resource>
                <rewrite>
                    <quote>Philwinkle_AlphaIncrement_Model_Resource_Quote</quote>
                </rewrite>
            </sales_resource>
        </models>
        <helpers>
            <alphaincrement>
                <class>Philwinkle_AlphaIncrement_Helper</class>
            </alphaincrement>
        </helpers>
    </global>
    <default>
        <alphaincrement>
            <log>
                <log_on_collision>false</log_on_collision>
            </log>
        </alphaincrement>
    </default>
</config>